page-home {
.body{
    background-image :url("../assets/imgs/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.head{
    background-color:#0077b3;
    height:2.6em;
   }
.new{
    color: white;
    font-weight: bolder;
    font-size: 0.9em;
        margin-left: 2.9em;
    margin-top: 0.3em;
    // color:white;
    // font-weight: bolder;
    // font-size: 1.25em;
    // margin-left: 2.3em;
} 
.anc{
    margin-top: 1.9em;
    margin-left: 2.3em;   
}
ion-icon.home.icon.icon-md.ion-md-home {
    display: inline-block;
    font-size: 1.6em;
    color: white;
    margin-left: 0.25em;
    // 
        } 
hr.line {
            width: 39em;
            margin-top: 2.15em;
            // margin-top: -0.2em;
            margin-left: -2.05em;
            border-width: 0.04em;
            color: white;
        }
        
              
.line{
    margin-top:2.15em;
        width: 39em;
    margin-left: -2.05em;
    border-width: 0.04em;
    color: white;
}
.form{
    width:120%;
    border-radius: 0.938em;
    background:rgba(207, 206, 206, 0.5);opacity: 0.4;
    }
.formt{
    color:white;
    font-size:1.3em;
}
.form1{
    width:120%;
    border-radius: 0.938em;
    background:rgba(207, 206, 206, 0.5);opacity:0.4;
    }
.formt1{
    color:white;
    font-size:1.3em;
}
.form2{
    width:120%;
    border-radius: 0.938em;
    background:rgba(207, 206, 206, 0.5);opacity:0.4;
    }
.formt2{
    color:white;
    font-size:1.3em;
}
.form3{
    width:120%;
    border-radius: 0.938em;
    background:rgba(207, 206, 206, 0.5);opacity:0.4;
    }
.formt3{
    color:white;
    font-size:1.3em;
}
.save{
    height: 3.1em;
    border-radius: 10%;
    width:5.5em;
    background-color:whitesmoke;
    font-weight: 700;
    color: black;
    margin-left:1.3em;
}
.cancel{
    font-weight: 700;
    margin-left:1.3em;
    height:3.1em;
    border-radius: 10%;
    width:5.5em;
    background-color:whitesmoke;
    color: black;
}
.btn{
    margin-top:2em;
   }
.sbtn{
    margin-left: 0.0025em;
}
.cbtn{
    margin-left:-0.0025em;
}
}
