<ion-header>
  <ion-grid class="head">  
              <ion-row><ion-title>
          <ion-col col class="new"><p class="anc">ADD NEW CATEGORY
          <ion-icon name="home"class="home"></ion-icon></p> </ion-col></ion-title>
             </ion-row><hr class="line">
      </ion-grid>
</ion-header><hr>

<ion-content class="body" scroll="false"nobounce padding>
    <ion-grid>
        <ion-row>
          <ion-col col-10>
                  <ion-label class="formt"stacked>CATEGORY SHORT FORM</ion-label>
                    <ion-input type="text" class="form"clearInput></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-10> 
                <ion-label class="formt1"stacked>CATEGORY FULL FORM</ion-label>
                <ion-input type="text" class="form1"clearInput></ion-input>
            </ion-col>
        </ion-row>

        <ion-row>
              <ion-col col-10> 
                  <ion-label class="formt2"stacked>SUB CATEGORY </ion-label>
                  <ion-input type="text" class="form2"clearInput></ion-input>
              </ion-col>
        </ion-row>

        <ion-row>
                <ion-col col-10>
                  
                    <ion-label class="formt3"stacked>PRICING</ion-label>
                    <ion-input type="text" class="form3"clearInput></ion-input></ion-col>
        </ion-row>
              
        <ion-row class="btn">
            <ion-col col-6 class="sbtn"> <button class="save" >SAVE</button> </ion-col>
            <ion-col col-6 class="cbtn"> <button class="cancel" >CANCEL</button> </ion-col>
        </ion-row>
    </ion-grid>
  
</ion-content>
